* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
section {
    background-color: #6d71e5;
    padding: 60px;
    display: flex;
    justify-content: center;
}
.container {
     display: flex;
     flex-wrap: wrap;
     gap: 30px;
     max-width: 1140px;
    }
.part_1 {
    background-color: #e7cb57;
    color: #111111;
    border-radius: 30px;
    flex: 1;
    padding: 30px;
    text-align: center;
}
.person {
    width: 214px;
    height: 214px;
    border-radius: 150px;
    object-fit: cover;
}
p {
    font-size: 18px;
    font-family: 'Open Sans',sans-serif;
    margin-top: 20px;
}
.part_2 {
    flex: 1;
    color: #FFFFFF;
    padding: 30px;
}
h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: sans-serif;
}
button {
    color: black;
    background-color: #9B9EEF;
    font-size: 16px;
    font-family: sans-serif;
    border: none;
    padding: 16px 50px;
    border-radius: 60px;
    line-height: 1.6;
    margin-top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 425px) {
    .part_2, p {
        text-align: center;
    }
    h1 {
        font-size: 24px;
    }
    .container {
        max-width: 340px;
    }
    section {
        padding-right: 50px;
        padding-left: 50px;
    }
    .part_1, .part_2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}